.team-card {
  &--photo {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  &--name,
  &--job-title {
    text-transform: uppercase;
    margin: 0;
  }

  &--name {
    font-size: 1.5rem;
  }

  &--job-title {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
