.team-card {
  &--photo {
    height: 200px;
    width: 100%;
    object-fit: cover;

    border-left: 10px solid var(--banner-color);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgba(20, 20, 20, 0.123);
  }

  &--name,
  &--job-title {
    text-transform: uppercase;
    margin: 0;
  }

  &--name {
    font-size: 1.5rem;
  }

  &--job-title {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
