.container.home--container {
  padding-top: 0;
}

.page-heading.home--hero {
  font-size: min(5rem, max(2.5rem, 10vw));
  font-weight: 300;
  line-height: 0.8;
  margin: 3rem 0;
}

.home--hero-bold {
  font-weight: 700;
}
