@use '../../breakpoints';

.sticky-info {
  position: sticky;
  top: 0;
  background-color: var(--banner-color);

  &--company-details {
    background-color: var(--banner-color);

    & > .container {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }

  &--company-logo {
    padding: 0 1rem;
    padding-top: 2rem;
    max-width: 280px;
    // Hide until tablet layout is activated
    display: none;
  }

  &--tel {
    color: var(--light-grey);

    text-align: center;

    font-family: 'Poppins', sans-serif, serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

@media (min-width: breakpoints.$tablet) {
  .sticky-info {
    &--company-details > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 1rem 1rem;
    }

    &--company-logo {
      display: inline;
      padding: 0;
      max-width: 180px;
    }
  }
}
