.profile {
  &--heading {
    margin: 1rem 0;
  }

  &--name,
  &--job-title {
    margin: 0;
    text-transform: uppercase;
  }

  &--name {
    font-size: 3rem;
    margin-bottom: 0.2em;
  }

  &--job-title {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
  }

  &--email {
    margin: 1em 0;
    font-weight: 300;
  }

  &--grid {
    gap: 2rem;
  }

  &--photo {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}
