@use '../../breakpoints';

.main-header {
  background-color: var(--banner-color);
  color: var(--light-grey);

  /* So the header menu bar can be above rest of page, but behind the main header logo etc. */
  position: relative;
  z-index: 1;

  // To fix a ridiculous 10 year old bug in iOS safari - or maybe it just deals with z-index or stacking contexts differenly from other browsers?
  // https://css-tricks.com/forums/topic/safari-for-ios-z-index-ordering-bug-while-scrolling-a-page-with-a-fixed-element/
  transform: translate3d(0, 0, 0);

  text-align: center;

  &--logo {
    padding: 0 1rem;
    padding-top: 2rem;
    max-width: 280px;
  }
}

@media (min-width: breakpoints.$tablet) {
  .main-header {
    display: none;
  }
}
