@use '../../breakpoints';

.main-header {
  color: var(--light-grey);
  /* So the header menu bar can be above rest of page, but behind the main header logo etc. */
  position: relative;
  z-index: 1;
}

.main-header {
  background-color: var(--banner-color);
  text-align: center;
}

.main-header--logo {
  padding: 0 1rem;
  padding-top: 2rem;
  max-width: 280px;
}

@media (min-width: breakpoints.$tablet) {
  .main-header {
    display: none;
  }
}
