@use '../../../breakpoints';

.contact-us--form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;

  & > button {
    align-self: center;
  }

  &--item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > input,
    & > textarea {
      font-size: 1rem;
      width: 100%;
    }

    & > textarea {
      resize: vertical;
    }
  }
}

@media (min-width: breakpoints.$tablet) {
  .contact-us--form--item {
    flex-direction: row;

    & > input,
    & > textarea {
      width: 70%;
    }
  }
}
