/* || Reset */
body {
  margin: 0;
}

#root {
  box-sizing: border-box;
  width: 100%;

  font-family: 'Open Sans', sans-serif, serif;
  line-height: 1.5rem;

  --banner-color: #0071d4;
  --banner-color-dark: #0260b3;
  --off-black: rgb(10, 10, 10);
  --grey: #777777;
  --light-grey: #f0f0f4;
  --primary-text: #15141a;
  --secondary-text: #5b5b66;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif, serif;
  font-size: 1rem;
  padding: 1em;
}

/* || Reusable classes */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list a {
  text-decoration: none;
}
