/* || Reset */
body {
  overflow-y: scroll;
  margin: 0;
}

#root {
  box-sizing: border-box;
  width: 100%;

  font-family: 'Open Sans', sans-serif, serif;
  line-height: 1.5;

  --banner-color: #0071d4;
  --banner-color-dark: #0260b3;
  --off-black: rgb(10, 10, 10);
  --grey: #777777;
  --light-grey: #f0f0f4;
  --primary-text: #15141a;
  --secondary-text: #5b5b66;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

input,
textarea,
button {
  font-family: 'Open Sans', sans-serif, serif;
  font-size: 1rem;
  line-height: 1.5;

  border-radius: 5px;
}

input,
textarea {
  padding: 0.5em;
  border: 1px solid var(--off-black);
}

button {
  font-weight: 600;

  padding: 0.8em 1.5em;
  border: none;

  background-color: var(--banner-color);
  color: var(--light-grey);

  cursor: pointer;
}
button:hover,
button:focus-visible {
  background-color: var(--banner-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  line-height: 0.8;
}

/* || Reusable classes */
.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-list a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.container {
  padding: 0 1rem;
  padding-bottom: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
.container.top-padding {
  padding-top: 2rem;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.page-heading {
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-weight: 300;
  line-height: 0.8;
  margin: 0.6em 0;
  text-transform: uppercase;
}

.grid-two-col {
  display: grid;
  /* Move down to 1 col if we don't hit the tablet breakpoint */
  /* Min needs to be less than 320px to allow for padding around containing elements */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.p-twenty-five-em {
  max-width: 25em;
}

.main-p {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
